/*variables*/
$font-color: #444;
$active-color: #32ADAD;
$bg-nav: #fff;
$border-color: #dadada;
$bg-color: #f0f0f0; /* reset */

* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
}
/* /reset */
// global
html body {
		font-family: 'Poppins', sans-serif;
		scroll-behavior: smooth;
}

main {
		width: 100%;
}

%flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

%maxwidth {
	max-width: 90%;
	margin: 0 auto;
}

//end global

h1,
h2,
h3,
h4,
h5,
h6 {
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizelegibility;
}

.header-top {
	border-bottom: 1px solid $border-color;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
 .header__background {
  	background: $bg-nav;
}

.header-nav {
	  @extend %flex;
    flex-direction: row;
    height: 3rem;
    list-style: none;
    padding: 0;
    .active {
    	color: #c6538c;
    }
    a {
    	flex: 1;
    	text-decoration: none;
    	color: $font-color;
    	text-align: center;
    }
}

.hero {
	 width: 100%;
   background: $bg-color;
   border-bottom: 1px solid $border-color;
   .hero__container {
   	 width: 100%;
     height: 390px;
     @extend %flex;
     flex-flow: column;
     .hero__row {
     	background: #fff;
     	padding: 1.6rem 3rem;
     }
   }
   .hero__title, .hero__subtitle {
   	text-align: center;
   }
   .hero__title {
   	 font-size: 2rem;
     font-weight: 700;
     letter-spacing: 4px;
     background: url("../img/bg.jpg");
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;
   }
   .hero__subtitle {
   	 font-weight: 300;
     font-size: 1rem;
     letter-spacing: 2px;
   }
}

.project {
	width: 100%;
  background: #f0f0f0;
  padding: 4rem 0;
  .project__container {
  	@extend %maxwidth;
  	.project__parent {
  		@extend %flex;
  		flex-wrap: wrap;	
  	}
  	.project__children {
  		width: 340px;
  		height: 300px;	
  		background: #fafafa;
			box-shadow: 1px 15px 45px -10px rgba(0, 0, 0, .2);
  		@extend %flex;
  		flex-direction: column;
  		margin: .5rem;
  		h3 {
  			color: #c6538c;
  		}
  		p a{
  			color: $font-color;
  		}
  	}
  }
}

.about {
	 width: 100%;
   background: $bg-color;
   border-top: 1px solid #dadada;
   .about__container {
   	width: 70%;
   	@extend %maxwidth;
   	@extend %flex;
   	min-height: 500px;
   }
   .about__row p {
   	font-size: 1.1rem;
		color: $font-color;
		letter-spacing: 1px;
		line-height: 1.6;
   }
}

.contact {
	  width: 100%;
	  background: $bg-color;
	  border-top: 1px solid #dadada;
	  .contact__container {
	  	@extend %maxwidth;
	  }
	  .contact__parent {
	  		min-height: 500px;
				@extend %flex;
				flex-wrap: wrap;
				i {
					margin: 2rem 0;
					font-size: 2.8rem;
					text-decoration: none;
					color: $font-color;
					&:hover {
							color: $active-color;
						}
				}
				a {
							flex: 1;
							text-align: center;
					}
	  }
}

footer {
	width: 100%;
  background: $bg-nav;
  border-top: 1px solid #dadada;
  .footer__container {
  	@extend %maxwidth;
  	height: 200px;
  	@extend %flex;
  	.me {
  		  color: $font-color;
        font-size: 1rem;
        letter-spacing: 2px;
  	}
  }
}

@media(max-width: 800px) {
    .hero__container {
        .hero__row {
            padding: 2rem;
            width: 100%;
        }

        .hero__title {
            font-size: 1.8rem;
        }

        .hero__subtitle {
            font-size: 0.9rem;
        }
    }
    .about {
    	padding: 4rem 0;
    }

    .contact {
        .contact__parent {
            flex-direction: column;

            a {
                display: flex;
                align-items: center;
                text-decoration: none;
            }
        }
    }
}