/*variables*/
/* reset */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* /reset */
html body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth; }

main {
  width: 100%; }

.header-nav, .hero .hero__container, .project .project__container .project__parent, .project .project__container .project__children, .about .about__container, .contact .contact__parent, footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.project .project__container, .about .about__container, .contact .contact__container, footer .footer__container {
  max-width: 90%;
  margin: 0 auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility; }

.header-top {
  border-bottom: 1px solid #dadada;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.header__background {
  background: #fff; }

.header-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 3rem;
  list-style: none;
  padding: 0; }
  .header-nav .active {
    color: #c6538c; }
  .header-nav a {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-decoration: none;
    color: #444;
    text-align: center; }

.hero {
  width: 100%;
  background: #f0f0f0;
  border-bottom: 1px solid #dadada; }
  .hero .hero__container {
    width: 100%;
    height: 390px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column; }
    .hero .hero__container .hero__row {
      background: #fff;
      padding: 1.6rem 3rem; }
  .hero .hero__title, .hero .hero__subtitle {
    text-align: center; }
  .hero .hero__title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 4px;
    background: url("../img/bg.jpg");
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .hero .hero__subtitle {
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 2px; }

.project {
  width: 100%;
  background: #f0f0f0;
  padding: 4rem 0; }
  .project .project__container .project__parent {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .project .project__container .project__children {
    width: 340px;
    height: 300px;
    background: #fafafa;
    -webkit-box-shadow: 1px 15px 45px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 15px 45px -10px rgba(0, 0, 0, 0.2);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: .5rem; }
    .project .project__container .project__children h3 {
      color: #c6538c; }
    .project .project__container .project__children p a {
      color: #444; }

.about {
  width: 100%;
  background: #f0f0f0;
  border-top: 1px solid #dadada; }
  .about .about__container {
    width: 70%;
    min-height: 500px; }
  .about .about__row p {
    font-size: 1.1rem;
    color: #444;
    letter-spacing: 1px;
    line-height: 1.6; }

.contact {
  width: 100%;
  background: #f0f0f0;
  border-top: 1px solid #dadada; }
  .contact .contact__parent {
    min-height: 500px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .contact .contact__parent i {
      margin: 2rem 0;
      font-size: 2.8rem;
      text-decoration: none;
      color: #444; }
      .contact .contact__parent i:hover {
        color: #32ADAD; }
    .contact .contact__parent a {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: center; }

footer {
  width: 100%;
  background: #fff;
  border-top: 1px solid #dadada; }
  footer .footer__container {
    height: 200px; }
    footer .footer__container .me {
      color: #444;
      font-size: 1rem;
      letter-spacing: 2px; }

@media (max-width: 800px) {
  .hero__container .hero__row {
    padding: 2rem;
    width: 100%; }
  .hero__container .hero__title {
    font-size: 1.8rem; }
  .hero__container .hero__subtitle {
    font-size: 0.9rem; }
  .about {
    padding: 4rem 0; }
  .contact .contact__parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .contact .contact__parent a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-decoration: none; } }
